In [1]:
import pandas as pd
import sqlalchemy
from dotenv import load_dotenv
import os
import h3
import shapely
import pyproj
import numpy as np

load_dotenv()

True

In [11]:
params = {
    'db': os.getenv('POSTGRES_DB'),
    'user': os.getenv('POSTGRES_USER'),
    'password': os.getenv('POSTGRES_PASSWORD'),
    'url': os.getenv('DATABASE_URL')
}

params

{'db': 'inat',
 'user': 'postgres',
 'password': 'inat4cg',
 'url': 'postgresql+psycopg2://postgres:inat4cg@localhost:5433/inat'}

In [12]:
QUERY = 'SELECT an."taxa_id", ah."hex_id" FROM "annotation" AS an INNER JOIN "annotation_hexagon" AS ah ON an."annotation_id"=ah."annotation_id"'

In [13]:
engine = sqlalchemy.engine.create_engine(url=params['url'])
df = pd.read_sql(QUERY, engine)
df.head()

   taxa_id           hex_id
0     5165  84ad8a7ffffffff
1     5165  8497201ffffffff
2     5165  84ad8bdffffffff
3     5165  84bce05ffffffff
4     5165  84968a1ffffffff

In [2]:
df = pd.read_csv('demo-data.csv', index_col=0)

In [3]:
len(df)

100773

In [19]:
def calculate_geo_distance(loc1, loc2):
    lat1, lng1 = loc1
    lat2, lng2 = loc2

    geod = pyproj.Geod(ellps="WGS84")
    _, _, distance = geod.inv(lons1=lng1, lats1=lat1, lons2=lng2, lats2=lat2)
    return distance

def generate_random_points_in_circle(boundary, N):
    polygon = shapely.Polygon(boundary)
    min_x, min_y, max_x, max_y = polygon.bounds

    random_points = []
    while len(random_points) < N:
        x = np.random.uniform(min_x, max_x)
        y = np.random.uniform(min_y, max_y)

        point = shapely.Point(x, y)
        if polygon.contains(point):
            random_points.append(point)

    return random_points

def generate_random_points_in_circle(lat, lng, R, N):
    center_point = shapely.geometry.Point(lng, lat)
    random_points = []
    while len(random_points) < N:
        r = R * np.sqrt(np.random.uniform(0, 1)) # random distance from center
        theta = np.random.uniform(0, 2 * np.pi) # random degree
        
        x = lng + r * np.cos(theta) / (111320 * np.cos(lat * np.pi / 180))
        y = lat + r * np.sin(theta) / 111320
        
        point = shapely.geometry.Point(x, y)
        
        if point.distance(center_point) * 111320 <= R:
            random_points.append((y, x))
    
    return random_points

In [20]:
center_point = [h3.h3_to_geo(hex_id) for hex_id in df['hex_id']]
df['center_point'] = center_point

hex_resolution = [h3.h3_get_resolution(hex_id) for hex_id in df['hex_id']]
df['hex_resolution'] = hex_resolution

hex_boundary = [h3.h3_to_geo_boundary(hex_id, geo_json=False) for hex_id in df['hex_id']]
df['hex_boundary'] = hex_boundary

radius = [min([calculate_geo_distance(r['center_point'], loc) for loc in r['hex_boundary']]) for _, r in df.iterrows()] # type: ignore
df['R'] = radius

In [21]:
df.head()

,taxa_id,hex_id,center_point,hex_resolution,hex_boundary,R
0,5165,84ad8a7ffffffff,"(-23.88938279818632, 17.00880749669571)",4,"((-24.09429375668379, 17.16215166845035), (-23...",26656.725246
1,5165,8497201ffffffff,"(-23.519003724824916, 33.50945366236944)",4,"((-23.710200714410455, 33.68255451006488), (-2...",27576.623491
2,5165,84ad8bdffffffff,"(-24.347182066496178, 16.25557125631563)",4,"((-24.551936920740708, 16.40773882753497), (-2...",26462.631807
3,5165,84bce05ffffffff,"(-29.878424427871046, 29.067009631658912)",4,"((-30.064771872073887, 29.242348368467994), (-...",26396.458294
4,5165,84968a1ffffffff,"(-4.199226561300136, 31.243618558286933)",4,"((-4.397085820779177, 31.40224048733957), (-4....",27783.923511

In [22]:
df_filter = df[['taxa_id', 'center_point', 'hex_resolution', 'R']]
df_filter.head()

,taxa_id,center_point,hex_resolution,R
0,5165,"(-23.88938279818632, 17.00880749669571)",4,26656.725246
1,5165,"(-23.519003724824916, 33.50945366236944)",4,27576.623491
2,5165,"(-24.347182066496178, 16.25557125631563)",4,26462.631807
3,5165,"(-29.878424427871046, 29.067009631658912)",4,26396.458294
4,5165,"(-4.199226561300136, 31.243618558286933)",4,27783.923511

In [24]:
h3_max_res = 7

psuedo_points = []
for i, r in df_filter.iterrows():
    N = h3_max_res - r['hex_resolution']
    lat, lng = r['center_point']
    random_n_points = generate_random_points_in_circle(lat, lng, r['R'], N)
    for random_lat, random_lng in random_n_points:
        psuedo_point = {
            'taxa_id': r['taxa_id'],
            'lat': random_lat,
            'lng': random_lng
        }

        psuedo_points.append(psuedo_point)

df_psuedo_points = pd.DataFrame(psuedo_points)

In [25]:
df_psuedo_points.head()

   taxa_id        lat        lng
0     5165 -23.968954  17.011769
1     5165 -24.027695  17.029736
2     5165 -23.871310  16.892901
3     5165 -23.478834  33.694448
4     5165 -23.635210  33.357863

In [26]:
df_psuedo_points.to_csv('demo-data.csv')